<div class="sidebar-wrapper">
    <ul class="sidebar-menu">
      <li class="section-title">My Account</li>
      <li><a routerLink="/account/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/account/cards" routerLinkActive="active">Banks & Cards</a></li>
      <li><a routerLink="/account/addresses" routerLinkActive="active">Addresses</a></li>
      <li><a routerLink="/account/password" routerLinkActive="active">Change Password</a></li>
      <li><a routerLink="/account/notifications" routerLinkActive="active">Notification Settings</a></li>
      <li><a routerLink="/account/privacy" routerLinkActive="active">Privacy Settings</a></li>
  
      <li class="section-title">My Purchase</li>         
      <li><a routerLink="/account/my-purchase" routerLinkActive="active">My Purchase</a></li>
      <li><a routerLink="/account/notifications" routerLinkActive="active">Notifications</a></li>
      <li><a routerLink="/account/vouchers" routerLinkActive="active">My Vouchers</a></li>
      <li><a routerLink="/account/coins" routerLinkActive="active">My Shopee Coins</a></li>
    </ul>
  </div>
  